/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2014, 13:55:45
    Author     : Fernando
*/

* {
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
    font-family: 'Roboto', sans-serif;
}

.tabRefactoring {
    width: 900px;
}

#form {
    margin-top: 20px;
    margin-left: 20px;
}

.button_footer {
    margin-top: 20px;
}

#form_menu {
    float: left;
}

#div_content {
    margin-left: 20px;
    float: left;
}

.datalist {
    margin-top: 20px;
}