<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">         

    <ui:define name="menu">
        <ui:include src="/menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   
        <div id="div_content">
            <h:form id="form">
                <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

                <h1>Search Catalog By Author</h1>                

                <h:outputText value="Enter the name of the author below."/>

                <h:panelGrid columns="2" cellpadding="1" cellspacing="10">
                    <h:outputLabel for="author" value="Name" />
                    <p:autoComplete id="author" converter="authorConverter" value="#{catalogController.author}"
                                    completeMethod="#{authorController.completeAuthor}"
                                    var="author" itemValue="#{author}" itemLabel="#{author.name} #{author.lastName}">
                        <p:column>
                            <h:outputText value="#{author.name} #{author.lastName}" />
                        </p:column>
                    </p:autoComplete>

                    <p:commandButton value="Search" icon="ui-icon-search" action="#{catalogController.getByAuthor}" ajax="false"/>
                </h:panelGrid>

                <p:dataList value="#{catalogController.catalogsFound}" var="catalog" rendered="#{not empty catalogController.catalogsFound}">
                    <f:facet name="header">
                        Catalogs found
                    </f:facet>
                    <p:commandLink update=":form:refDetail" process="@this" actionListener="#{catalogController.setEntity(catalog)}" oncomplete="PF('refDialog').show()" title="View Detail" styleClass="ui-icon ui-icon-search" style="float:left;margin-right:10px" />

                    #{catalog.name}
                </p:dataList>

                <p:dialog header="Catalog Info" widgetVar="refDialog" modal="true" showEffect="blind" hideEffect="explode" resizable="false">
                    <p:outputPanel id="refDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty catalogController.entity}" columnClasses="label,value">
                            <f:facet name="header">
                                #{catalogController.entity.name}
                            </f:facet>

                            <h:outputText value="Author:" />
                            <h:outputText value="#{catalogController.entity.author.name} #{catalogController.entity.author.lastName}" />

                            <h:outputText value="Refactoring Library" />
                            <h:outputText value="#{catalogController.entity.refactoringLibrary.name}" />

                        </p:panelGrid>

                        <p:commandLink value="View Refactorings" oncomplete="window.location.href = 'refByCatalog'" process="@this" actionListener="#{refactoringController.setCatalog(catalogController.entity)}" />

                    </p:outputPanel>
                </p:dialog>

            </h:form>
        </div>
    </ui:define>
</ui:composition>