<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">         

    <ui:define name="menu">
        <ui:include src="/menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   
        <div id="div_content">
            <h:form id="form">
                <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

                <h1>Search Refactoring By Name</h1>                

                <h:outputText value="Enter the name of refactoring below."/>

                <h:panelGrid columns="2" cellpadding="1" cellspacing="10">
                    <h:outputLabel for="name_ref" value="Name" />
                    <p:inputText id="name_ref" value="#{refactoringController.refactoringName}" required="false"/>

                    <p:commandButton value="Search" icon="ui-icon-search" action="#{refactoringController.getByName}" ajax="false"/>
                </h:panelGrid>

                <p:dataList value="#{refactoringController.entitiesFound}" var="refactoring" rendered="#{not empty refactoringController.entitiesFound}">
                    <f:facet name="header">
                        Refactorings found
                    </f:facet>
                    <p:commandLink update=":form:refDetail" process="@this" actionListener="#{refactoringController.setEntity(refactoring)}" oncomplete="PF('refDialog').show()" title="View Detail" styleClass="ui-icon ui-icon-search" style="float:left;margin-right:10px" />

                    #{refactoring.name}
                </p:dataList>

                <p:dialog header="Refactoring Info" widgetVar="refDialog" modal="true" showEffect="blind" hideEffect="explode" resizable="false">
                    <p:outputPanel id="refDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty refactoringController.entity}" columnClasses="label,value">
                            <f:facet name="header">
                                #{refactoringController.entity.name}
                            </f:facet>

                            <h:outputText value="Author:" />
                            <h:outputText value="#{refactoringController.entity.author.name} #{refactoringController.entity.author.lastName}" />

                            <h:outputText value="Catalog" />
                            <h:outputText value="#{refactoringController.entity.catalog.name}" />

                            <h:outputText value="Motivation:" />
                            <h:outputText value="#{refactoringController.entity.motivation}"/>

                            <h:outputText value="Summary:" />
                            <h:outputText value="#{refactoringController.entity.summary}"/>                                                        
                        </p:panelGrid>

                        <p:panelGrid  columns="2" rendered="#{not empty refactoringController.entity.preCondition}" columnClasses="label,value" style="margin-top: 20px;">
                            <f:facet name="header">
                                Pre Condition
                            </f:facet>

                            <h:outputText value="Context:" />
                            <h:outputText value="#{refactoringController.entity.preCondition.context}" />

                            <h:outputText value="Language" />
                            <h:outputText value="#{refactoringController.entity.preCondition.language}" />

                            <h:outputText value="Body:" />
                            <h:outputText value="#{refactoringController.entity.preCondition.body}"/>                                                                                 
                        </p:panelGrid>

                        <p:panelGrid  columns="2" rendered="#{not empty refactoringController.entity.postCondition}" columnClasses="label,value" style="margin-top: 20px;">
                            <f:facet name="header">
                                Post Condition
                            </f:facet>

                            <h:outputText value="Context:" />
                            <h:outputText value="#{refactoringController.entity.postCondition.context}" />

                            <h:outputText value="Language" />
                            <h:outputText value="#{refactoringController.entity.postCondition.language}" />

                            <h:outputText value="Body:" />
                            <h:outputText value="#{refactoringController.entity.postCondition.body}"/>                                                                                 
                        </p:panelGrid>                      

                        <p:panelGrid  columns="2" rendered="#{not empty refactoringController.entity.operator}" columnClasses="label,value" style="margin-top: 20px;">
                            <f:facet name="header">
                                Operation
                            </f:facet>

                            <h:outputText value="Language" />
                            <h:outputText value="#{refactoringController.entity.operator.language}" />

                            <h:outputText value="Body:" />
                            <h:outputText value="#{refactoringController.entity.operator.body}"/>                                                                                 
                        </p:panelGrid>                        

                        <p:dataList value="#{parameterController.getByRefactoring(refactoringController.entity.ID)}" var="parameter" rendered="#{not empty parameterController.getByRefactoring(refactoringController.entity.ID)}" styleClass="datalist">
                            <f:facet name="header">
                                Parameters
                            </f:facet>
                            #{parameter.parameter}
                        </p:dataList>                        

                        <p:dataList value="#{classificationController.getByRefactoring(refactoringController.entity.ID)}" var="classification" rendered="#{not empty classificationController.getByRefactoring(refactoringController.entity.ID)}" styleClass="datalist">
                            <f:facet name="header">
                                Classifications
                            </f:facet>

                            <br/>

                            <p:panelGrid  columns="2" rendered="#{not empty refactoringController.entity.operator}" columnClasses="label,value">

                                <h:outputLabel value="Usage:" /> 
                                <h:outputText value="#{classification.usage.kind}" />

                                <h:outputLabel value="Level:" /> 
                                <h:outputText value="#{classification.level.kind}" />

                                <p:dataList value="#{classification.kdmPackage}" var="kdmPackage" rendered="#{not empty classification.kdmPackage}" styleClass="datalist">
                                    <f:facet name="header">
                                        KDMPackages
                                    </f:facet>
                                    #{kdmPackage.kind}
                                </p:dataList>    

                            </p:panelGrid>                            
                        </p:dataList>

                        <p:commandLink value="Download" ajax="false" action="#{refactoringController.downloadRefactoring()}"/>                                                    

                    </p:outputPanel>


                </p:dialog>

            </h:form>
        </div>
    </ui:define>
</ui:composition>