<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">         

    <ui:define name="menu">
        <ui:include src="/menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   
        <div id="div_content">
            <h:form id="form">
                <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

                <h1>Search Refactoring By Catalog</h1>                
                
                <h:outputText value="Enter the name of the catalog below."/>

                <h:panelGrid columns="2" cellpadding="1" cellspacing="10">
                    <h:outputLabel for="author" value="Name" />
                    <p:autoComplete id="catalog" converter="catalogConverter" value="#{refactoringController.catalog}"
                                    completeMethod="#{catalogController.completeCatalog}" forceSelection="true"
                                    var="catalog" itemValue="#{catalog}" itemLabel="#{catalog.name}">

                        <p:column>
                            <h:outputText value="#{catalog.name}" />
                        </p:column>
                    </p:autoComplete>

                    <p:commandButton value="Search" icon="ui-icon-search" action="#{refactoringController.getByCatalog}" ajax="false"/>
                </h:panelGrid>

                <p:dataList value="#{refactoringController.entitiesFound}" var="refactoring" rendered="#{not empty refactoringController.entitiesFound}">
                    <f:facet name="header">
                        Refactorings found
                    </f:facet>
                    <p:commandLink update=":form:refDetail" process="@this" actionListener="#{refactoringController.setEntity(refactoring)}" oncomplete="PF('refDialog').show()" title="View Detail" styleClass="ui-icon ui-icon-search" style="float:left;margin-right:10px" />

                    #{refactoring.name}
                </p:dataList>

                <p:dialog header="Refactoring Info" widgetVar="refDialog" modal="true" showEffect="blind" hideEffect="explode" resizable="false">
                    <p:outputPanel id="refDetail" style="text-align:center;">
                        <p:panelGrid  columns="2" rendered="#{not empty refactoringController.entity}" columnClasses="label,value">
                            <f:facet name="header">
                                #{refactoringController.entity.name}
                            </f:facet>

                            <h:outputText value="Author:" />
                            <h:outputText value="#{refactoringController.entity.author.name} #{refactoringController.entity.author.lastName}" />

                            <h:outputText value="Catalog" />
                            <h:outputText value="#{refactoringController.entity.catalog.name}" />

                            <h:outputText value="Motivation:" />
                            <h:outputText value="#{refactoringController.entity.motivation}"/>
                            
                            <h:outputText value="Summary:" />
                            <h:outputText value="#{refactoringController.entity.summary}"/>
                        </p:panelGrid>
                    </p:outputPanel>
                </p:dialog>

            </h:form>
        </div>
    </ui:define>
</ui:composition>