<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >

    <h:head>
        <title>Refactoring Repository</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="/resources/css/main.css"/>
        <h:outputStylesheet library="css" name="main.css"  />           
    </h:head>

    <h:body>              

        <h:form id="form" enctype="multipart/form-data">

            <p:fileUpload value="#{fileController.file}" mode="simple"/>

            <h:commandButton value="Submit" action="#{fileController.upload()}"/>               



        </h:form>
        
    </h:body>

</html>