<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Index Adm</title>

    </h:head>
    <h:body>
        <h:form>       

            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <p:tabMenu activeIndex="#{param.i}">
                <p:menuitem value="New Author" outcome="/view/admin/newAuthor.xhtml" icon="ui-icon-star" />
                <p:menuitem value="New Refactoring Library" outcome="/view/admin/newAuthor.xhtml" icon="ui-icon-star" />
                <p:menuitem value="New Catalog" outcome="/view/admin/newAuthor.xhtml" icon="ui-icon-star" />
                <p:menuitem value="New Refactoring" outcome="/view/admin/newAuthor.xhtml" icon="ui-icon-star" />
            </p:tabMenu>
            
        </h:form>
    </h:body>
</html>
