<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition>

        <h:form id="formMenu">
            <p:tabMenu activeIndex="#{param.i}">
                <p:menuitem value="New Author" outcome="/view/admin/newAuthor.xhtml" icon="ui-icon-plus">
                    <f:param name="i" value="0" />
                </p:menuitem>
                <p:menuitem value="New Refactoring Library" outcome="/view/admin/newRLibrary.xhtml" icon="ui-icon-plus" >
                    <f:param name="i" value="1" />
                </p:menuitem>
                <p:menuitem value="New Catalog" outcome="/view/admin/newCatalog.xhtml" icon="ui-icon-plus" >
                    <f:param name="i" value="2" />
                </p:menuitem>
                <p:menuitem value="New Refactoring" outcome="pretty:newRefactoring" icon="ui-icon-plus" >
                    <f:param name="i" value="3" />
                </p:menuitem>
            </p:tabMenu>
        </h:form>



    </ui:composition>
</html>
