<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">         

    <ui:define name="menu">
        <ui:include src="/view/admin/menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   

        <h:form id="form">
            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <h1>New Author</h1>

            <h:panelGrid columns="2" cellpadding="1" cellspacing="10">
                <h:outputLabel for="name" value="Name:" />
                <p:inputText id="name" value="#{authorController.entity.name}" required="true" label="name" />

                <h:outputLabel for="last_name" value="Last Name:" />
                <p:inputText id="last_name" value="#{authorController.entity.lastName}" required="true" label="last_name" />

                <f:facet name="footer" >
                    <div class="button_footer">
                        <p:commandButton value="Submit" update="growl, form" actionListener="#{authorController.insert()}"/>
                    </div>
                </f:facet>  
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>

