<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">    

    <ui:define name="menu">
        <ui:include src="/view/admin/menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   
        <h:form id="form">
            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <h1>New Refactoring</h1>

            <h:panelGrid columns="2" cellpadding="1" cellspacing="10">
                <h:outputLabel for="name" value="Name:" />
                <p:inputText id="name" value="#{refactoringController.entity.name}"   label="name" />

                <h:outputLabel for="motivation" value="Motivation:" />
                <p:inputTextarea id="motivation" value="#{refactoringController.entity.motivation}"  label="motivation" />

                <h:outputLabel for="summary" value="Summary:" />
                <p:inputTextarea id="summary" value="#{refactoringController.entity.summary}"  label="summary" />



                <h:outputLabel for="author" value="Author:" />
                <p:autoComplete id="author" converter="authorConverter" value="#{refactoringController.entity.author}"
                                completeMethod="#{authorController.completeAuthor}" forceSelection="true"
                                var="author" itemValue="#{author}" itemLabel="#{author.fullName}">

                    <p:column>
                        <h:outputText value="#{author.fullName}" />
                    </p:column>
                </p:autoComplete>

                <h:outputLabel for="catalog" value="Catalog:" />
                <p:autoComplete id="catalog" converter="catalogConverter" value="#{refactoringController.entity.catalog}"
                                completeMethod="#{catalogController.completeCatalog}" forceSelection="true"
                                var="catalog" itemValue="#{catalog}" itemLabel="#{catalog.name}">

                    <p:column>
                        <h:outputText value="#{catalog.name}" />
                    </p:column>
                </p:autoComplete>
            </h:panelGrid>

            <p style="margin-top: 20px;">
                <h3>Informations of Refactoring</h3>
                <br/>
            </p>



            <p:tabView orientation="left" styleClass="tabRefactoring">
                <p:tab title="Pre condition">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:outputLabel for="pre_context" value="Context:" />
                        <p:inputText id="pre_context" value="#{refactoringController.entity.preCondition.context}"  label="pre_context" />

                        <h:outputLabel for="pre_language" value="Language:" />
                        <p:selectOneMenu id="pre_language" value="#{refactoringController.entity.preCondition.language}">
                            <f:selectItems value="#{refactoringController.allLanguages}" />
                        </p:selectOneMenu>

                        <h:outputLabel for="pre_body" value="Body:" />
                        <p:inputTextarea id="pre_body" value="#{refactoringController.entity.preCondition.body}"  label="pre_body" />

                    </h:panelGrid>
                </p:tab>
                <p:tab title="Post condition">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:outputLabel for="post_context" value="Context:" />
                        <p:inputText id="post_context" value="#{refactoringController.entity.postCondition.context}"  label="post_context" />

                        <h:outputLabel for="post_language" value="Language:" />
                        <p:selectOneMenu id="post_language" value="#{refactoringController.entity.postCondition.language}">
                            <f:selectItems value="#{refactoringController.allLanguages}" />
                        </p:selectOneMenu>

                        <h:outputLabel for="post_body" value="Body:" />
                        <p:inputTextarea id="post_body" value="#{refactoringController.entity.postCondition.body}"  label="post_body" />
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Operation">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:outputLabel for="operation_language" value="Language:" />
                        <p:selectOneMenu id="operation_language" value="#{refactoringController.entity.operator.language}">
                            <f:selectItems value="#{refactoringController.allLanguages}" />
                        </p:selectOneMenu>

                        <h:outputLabel for="operation_body" value="Body:" />
                        <p:inputTextarea id="operation_body" value="#{refactoringController.entity.operator.body}"  label="operation_body" />
                    </h:panelGrid>
                </p:tab>

                <p:tab title="Chain">
                    <h:outputLabel for="chain" value="Chain:" />
                    <p:autoComplete id="chain" converter="refactoringConverter" value="#{refactoringController.auxRefactoring}"
                                    completeMethod="#{refactoringController.completeRefactoring}" forceSelection="true"
                                    var="refactoring" itemValue="#{refactoring}" itemLabel="#{refactoring.name}">

                        <p:column>
                            <h:outputText value="#{refactoring.name}" />
                        </p:column>
                    </p:autoComplete>

                    <p:commandButton value="Add" ajax="false" icon="ui-icon-plus" style="float: left;" actionListener="#{refactoringController.allChain.add(refactoringController.auxRefactoring)}"/>

                    <br/>
                    <p:dataTable var="refactoring" value="#{refactoringController.allChain}">
                        <p:column headerText="Refactorings added">
                            <h:outputText value="#{refactoring.name}" />
                        </p:column>
                    </p:dataTable>

                </p:tab>

                <p:tab title="Parameters">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:outputLabel for="parameter" value="Parameter:" />
                        <p:inputTextarea id="parameter" value="#{refactoringController.parameter.parameter}"  label="parameter" />
                    </h:panelGrid>

                    <p:commandButton value="Add" ajax="false" icon="ui-icon-plus" style="float: left;" actionListener="#{refactoringController.addParameter}"/>


                    <br/>
                    <p:dataTable var="parameter" value="#{refactoringController.parametersToAdd}">
                        <p:column headerText="Parameters">
                            <h:outputText value="#{parameter.parameter}" />
                        </p:column>
                    </p:dataTable>

                </p:tab>

                <p:tab title="Classification">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:outputLabel for="usage" value="Usage:" />                        
                        <p:selectOneMenu id="usage" value="#{refactoringController.classification.usage.kind}">
                            <f:selectItems value="#{refactoringController.allUsages}" />
                        </p:selectOneMenu>

                        <h:outputLabel for="level" value="Level:" />                        
                        <p:selectOneMenu id="level" value="#{refactoringController.classification.level.kind}">
                            <f:selectItems value="#{refactoringController.allLevelKinds}" />
                        </p:selectOneMenu>

                        <h:outputLabel for="kDMPackage" value="KDMPackages:" />                        
                        <p:selectOneMenu id="kDMPackage" value="#{refactoringController.kDMPackage}">
                            <f:selectItems value="#{refactoringController.allKDMPackageKinds}" />
                        </p:selectOneMenu>>
                        
                        <p:commandButton value="Add kDMPackage" ajax="false" icon="ui-icon-plus" style="float: left;" actionListener="#{refactoringController.classification.kdmPackage.add(refactoringController.kDMPackage)}"/>

                        <p:dataList var="kDMPackage added" value="#{refactoringController.classification.kdmPackage}">                                    
                            <h:outputText value="#{kDMPackage.kind}" />
                        </p:dataList>
                    </h:panelGrid>

                    <p:commandButton value="Add" ajax="false" icon="ui-icon-plus" style="float: left;" actionListener="#{refactoringController.addClassification}"/>


                    <br/>
                    <p:dataTable var="classification" value="#{refactoringController.classificationsToAdd}">
                        <p:column headerText="Classifications">
                            <h:panelGrid columns="2" cellpadding="10">
                                <h:outputLabel value="Usage:" /> 
                                <h:outputText value="#{classification.usage.kind}" />

                                <h:outputLabel value="Level:" /> 
                                <h:outputText value="#{classification.level.kind}" />

                                <p:dataList var="kDMPackage" value="#{classification.kdmPackage}">                                    
                                    <h:outputText value="#{kDMPackage.kind}" />
                                </p:dataList>
                            </h:panelGrid>
                        </p:column>
                    </p:dataTable>

                </p:tab>
            </p:tabView>

            <div class="button_footer">
                <p:commandButton value="Submit" update="growl,form" actionListener="#{refactoringController.insert()}"/>
            </div>

        </h:form>
    </ui:define>
</ui:composition>

