<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">         

    <ui:define name="menu">
        <ui:include src="/view/admin/menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   

        <h:form id="form">

            <p:growl id="growl" sticky="true" showDetail="true" life="3000" />

            <h1>New Refactoring Library</h1>

            <h:panelGrid columns="2" cellpadding="1" cellspacing="10">
                <h:outputLabel for="name" value="Name:" />
                <p:inputText id="name" value="#{refactoringLibraryController.entity.name}" required="true" label="name" />

                <h:outputLabel for="short_description" value="Short Description:" />
                <p:inputText id="short_description" value="#{refactoringLibraryController.entity.shortDescription}" required="true" label="short_description" />

                <h:outputLabel for="description" value="Description:" />
                <p:inputTextarea id="description" value="#{refactoringLibraryController.entity.description}" required="true" label="description" />

                <h:outputLabel for="author" value="Author:" />
                <p:autoComplete id="author" converter="authorConverter" value="#{refactoringLibraryController.entity.author}"
                                completeMethod="#{authorController.completeAuthor}" forceSelection="true"
                                var="author" itemValue="#{author}" itemLabel="#{author.fullName}">

                    <p:column>
                        <h:outputText value="#{author.name} #{author.lastName}" />
                    </p:column>
                </p:autoComplete>


                <f:facet name="footer">
                    <div class="button_footer">
                        <p:commandButton value="Submit" update="growl,form" actionListener="#{refactoringLibraryController.insert()}"/>
                    </div>
                </f:facet>  
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>

