<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition template="/view/layout/layout.xhtml" 
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core">         

    <ui:define name="menu">
        <ui:include src="menu.xhtml" />
    </ui:define>       

    <ui:define name="content">   

        <h:form id="form" enctype="multipart/form-data">

            <p:fileUpload value="#{fileController.file}" mode="simple"/>

            <h:commandButton value="Submit" action="#{fileController.upload()}"/>               



        </h:form>
        <h:form>
            <p:commandLink value="Teste File" ajax="false" action="#{refactoringController.teste()}"/>                           
        </h:form>



    </ui:define>
</ui:composition>