<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:form id="form_menu">
        <p:panelMenu style="width:300px">
            <p:submenu label="Search Refactoring">
                <p:menuitem value="By Author" icon="ui-icon-search" url="/view/search/refByAuthor.xhtml"/>
                <p:menuitem value="By Name"  icon="ui-icon-search" url="/view/search/refByName.xhtml"/>
                <p:menuitem value="By Catalog"  icon="ui-icon-search" url="/view/search/refByCatalog.xhtml"/>
            </p:submenu>
            <p:submenu label="Search Catalog">
                <p:menuitem value="By Author" ajax="false" icon="ui-icon-search" url="/view/search/catByAuthor.xhtml"/>
                <p:menuitem value="By Name" ajax="false" icon="ui-icon-search" url="/view/search/catByName.xhtml"/>
            </p:submenu>       
        </p:panelMenu>
    </h:form>

</ui:composition>

