<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >

    <h:head>
        <title>Refactoring Repository</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" type="text/css" href="/resources/css/main.css"/>
        <h:outputStylesheet library="css" name="main.css"  />           
    </h:head>

    <h:body>              

        <div id="page">                         

            <h:panelGroup layout="menu" id="menu">
                <ui:insert name="menu" >
                    menu
                </ui:insert>
            </h:panelGroup>                 


            <h:panelGroup layout="content" id="content">
                <ui:insert name="content" >
                    content
                </ui:insert>
            </h:panelGroup>                                        

        </div>      
    </h:body>

</html>